.header-1 {
  background-color: #0282F9;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.header-1 ul {
  list-style-type: none;
}

.header-1 ul li {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-2 ul {
  list-style-type: none;
}

.header-2 ul li {
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #1C1C1C;
  font-weight: bold;
  display: inline-block;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.header-2 ul li:hover {
  color: #0282F9;
  border-bottom: 3px solid #0282F9;
}

.logo-container {
  width: 100px;
}

.logo-container img {
  width: 100%;
}

.jumbotron {
  width: 100%;
  height: 40vh;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

.footer {
  background-image: url("/images/footer-bg.jpg");
  padding: 10px 0;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.logo-bg {
  background-image: url("/images/dc-logo-bg.png");
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
}

.lists {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: nowrap;
}

.lists ul {
  list-style-type: none;
  padding: 10px;
}

.lists ul li {
  color: gray;
}

.lists ul li:first-child {
  font-size: 18px;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  text-align: center;
}

