.thumb-container{
    background-color: $header-blue;
    width: 100%;
    height:10vh;
    position: relative;

    img{
        position: absolute;
        top: -230px;
        left: 270px;
    }
}

.comic-title{
    text-transform: uppercase;
    font-size:24px;
    font-weight: bold;
    color: darkblue;
}

.on-sale{
    background-color: rgb(92, 199, 92);
    color: white;
    font-weight: bold;
}

.info{
    background-color: lightgray;
    border-top: 2px solid gray;
    h3{
        color: darkblue;
    }

}

.talent,.specs{
    div{
        border-bottom: 1px solid gray;
    }
}

.series{
    p{
        text-transform: uppercase;
    }
}

.link{
    color:rgb(0, 110, 255);
}
.buy-comics{
    background-color: lightgray;
    border-top: 1px solid gray;
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    div{
        border-left: 1px solid gray;
        &:last-child{
            border-right: 1px solid gray;
        }
        img{
            width:40px;
            filter:brightness(0.5);
        }
    }
    
}