$header-blue: #0282F9;
$header-text: #1C1C1C;

.header-1{
    background-color: $header-blue;
    color:white;
    font-size:12px;
    ul{
        list-style-type: none;
        li{
            font-size: 12px;
            padding: 15px;
            text-transform: uppercase;
            text-align: center;
            display:inline-block;
            
        };
    }
};

.header-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    ul{
        list-style-type: none;
        li{
            font-size: 20px;
            padding: 15px;
            text-transform: uppercase;
            text-align: center;
            color: $header-text;
            font-weight: bold;
            display:inline-block;

            &:hover{
                color: $header-blue;
                border-bottom: 3px solid $header-blue;
            }
        };
    }
}
.logo-container{
    width: 60px;
    img{
        width: 100%;
    }
}