$dark-background: #1C1C1C;

.current-series{
    position: absolute;
    top: -30px;
    left: 205px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: $header-blue;
    text-align: left;
    font-size: 20px;
}

.homepage{
    width: 100%;
    background-color: $dark-background;
}

.comic-series-content{
    .comic-thumbnail{
        width: 150px;
        height: 150px;
        object-fit:cover;
        object-position: top;
    }
    span{
        font-size: 14px;
    }
    text-transform: uppercase;
    color: darkgray;
}